# macOS
.DS_Store

# Eclipse
.metadata/
.settings/
.project
.classpath

# Java
*.class

# Build folders
bin/
target/
out/

# Logs
*.log

# Temporary files
*.tmp

# VS Code
.vscode/

# IntelliJ
.idea/
*.iml
